<div class="tutorial">
    <h2 id="init-angular-cli">初识Angular CLI</h2>
    <span class="key-word">CLI</span>是
    <strong>命令行界面(command-line interface)</strong>的缩写,而
    <span class="key-word">Angular CLI</span> 是一个Angular官方出品的工具.这里要引用
    <a href="https://www.zhihu.com/people/damoqiongqiu/activities" target="view_window">大漠</a>老师曾经打过的一个比方,他说
    <span class="key-word">Angular CLI</span>是一辆坦克,帮助你直接开战.我觉得这个比方是很合适的.因为在现代前端工程当中,一个
    <a href="https://baike.baidu.com/item/SPA/17536313#viewPageContent" target="view_window">SPA</a>项目,普遍需要scss,less,webpack,e2e,unit test等等复杂的技术,如果你是初涉现代前端工程,是不是感觉都没听过?
    <div class="info">
        我当年只知道一个网页是由HTML,CSS,JS组成的...充其量知道点H5标签.
    </div>
    问题不大!在
    <span class="key-word">Angular CLI</span>这辆超级坦克面前,开发现代前端工程的门槛变得不再那么遥不可及,他会帮我们自动建立这些黑科技的配置并且应用在项目中,现在我们开始建立属于自己的第一个Angular项目.
    <h2 id="setup-development-environment">建立开发环境</h2>
    Angular需要
    <a href="http://nodejs.cn/" target="view_window">Node.js</a> (至少8.x)和Npm(5.x)的环境,直接安装Node.js就会自动安装Npm了.这里推荐大家再安装一个
    <a href="https://yarn.bootcss.com/docs/install.html" target="view_window">yarn</a>,功能与npm差不多,但是我喜欢用这个软件安装第三方依赖.具体差异可以自行百度.
    <div class="info">
        完全没听过npm的朋友看下这段话(老手请略过).非常理解初学者看到这些名词一脸懵逼,让我来解释下npm是什么.
        <br/> 请尝试回忆下平时你是如何管理第三方依赖的?(如bootstrap,jquery,这些应该不会没听过吧...),我当年的做法是建立如下的目录结构:
        <br/> project
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;html&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index.html&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;css&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index.css&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;jss&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;index.js&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;lib&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bootstrap&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bootstrap.css&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bootstrap.js&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jquery&nbsp;
        <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jquery.js&nbsp;
        <br/> 大家普通早期都是这么做的吧,把自己的js和css放在各自的文件夹里,而第三方依赖统一放在一个文件夹下面,那么请问,你为什么要把第三方依赖放在统一文件夹下呢?一般是为了方便管理对吗?那如果你这个项目有很多人一起工作,那你是不是需要列一个清单告诉别人,需要哪些依赖,版本分别是什么呢?显然这样的过程很麻烦,npm就应运而生了.现代前端工程中,建立完项目后会有一个
        <span class="key-word">package.json</span>文件,里面就包含了哪些依赖及其版本信息,总之,他就是用来管理我们的第三方依赖的.
    </div>
    <h3 id="check-install-successful">检验是否安装成功</h3>
    打开cmd,依次使用以下命令(
    <span class="key-word">-v</span>是查看版本的命令(version) )查看安装版本,如果能正常显示版本即安装成功. 我的运行结果如下
    <div class="pattern">
        <p>C:\Users\Eve>node -v</p>
        <p>v8.10.0</p>
        <p>C:\Users\Eve>npm -v</p>
        <p>5.6.0</p>
        <p>C:\Users\Eve>yarn -v</p>
        <p>1.7.0</p>
    </div>
    好了,现在我们可以使用npm来安装
    <span class="key-word">Angular CLI</span>了,输入以下命令进行安装
    <div class="pattern">
        npm install -g @angular/cli
    </div>
    同样地,安装完之后,检查是否安装成功,查看其版本信息
    <div class="pattern">
        <pre>
            C:\Users\Eve>ng -v
    
                _                      _                 ____ _     ___
               / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
              / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
             / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
            /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                           |___/
           
           
           Angular CLI: 6.0.0
           Node: 8.10.0
           OS: win32 x64
           Angular:
           ...
           
           Package                      Version
           ------------------------------------------------------
           @angular-devkit/architect    0.6.0
           @angular-devkit/core         0.6.0
           @angular-devkit/schematics   0.6.0
           @schematics/angular          0.6.0
           @schematics/update           0.6.0
           rxjs                         6.2.2
           typescript                   2.7.2
        </pre>
    </div>
    <h2 id="create-project">
        创建新项目
    </h2>
    使用以下命令来创建新项目,
    <span class="key-word">new</span>表示要创建一个新项目,
    <span class="key-word">first-app</span>表示项目的名字
    <div class="pattern">
        ng new first-app
    </div>
    在这之后,
    <span class="key-word">Angular CLI</span>会自动创建相应的文件,使用npm安装依赖,安装的文件都在,这里需要花费不少时间.快的几分钟,慢的就不一定了,一般如果很久很久(比如半小时)都没结束,可以尝试按下
    <span class="key-word">ctrl+c</span>停止任务,使用
    <span class="key-word">yarn</span>进行安装,输入如下命令即可.
    <div class="pattern">
        yarn
    </div>
    <div class="info">
        npm的服务器在国外,很多时候访问会有问题.因此推荐使用
        <a href="https://npm.taobao.org/" target="view_window">cnpm</a>,或者yarn(推荐).
    </div>
    <h2 id="start-server">启动开发服务器</h2>
    以往的网页双击打开即可.但是现代前端工程一般都需要本地服务器,至于原因,如果你是初学者很难理解,所以就先记住即可.
    <br/> 输入如下命令启动开发服务器
    <div class="pattern">
        ng serve --open
    </div>
    <span class="key-word">--open</span>是可选参数,其实可以不输入的,这是为了让开发服务器启动完毕后,自动使用浏览器打开项目页面,默认为4200端口.在执行完命令后会出现一片绿色的信息,就意味着服务器开启成功了.
    <div class="info">
        作为一名开发者,你一定会喜欢上这个颜色的,希望每一天都是这么的绿...
    </div>
    以下是项目初次运行的界面效果
    <nz-card class="card">
        <init-page></init-page>
    </nz-card>
</div>
<nz-anchor class="anchor">
    <nz-link nzHref="#init-angular-cli" nzTitle="初识Angular CLI"></nz-link>
    <nz-link nzHref="#setup-development-environment" nzTitle="建立开发环境">
        <nz-link nzHref="#check-install-successful" nzTitle="检验是否安装成功"></nz-link>
    </nz-link>
    <nz-link nzHref="#create-project" nzTitle="创建新项目"></nz-link>
    <nz-link nzHref="#start-server" nzTitle="启动开发服务器"></nz-link>
</nz-anchor>