<h2 id="structural-directive">结构型指令</h2>
<h3 id="ngIf">*ngIf</h3>
该指令用来控制元素是否加载,*ngIf的值为一个表达式,表达式的结果为布尔值.当布尔值为真时,加载该元素,反之则移除该元素.
<br/>
<h4>示例</h4>
当你选择'男生'时,显示'我是男生';当你选择'女生'时,显示'我是女生'.
<br/> 值得注意的是,*ngIf是移除表达式为false的元素,并不是隐藏元素,可以通过查看元素验证这点.
<br/> 现在尝试选择下你的性别,观察运行结果的变化情况.
<br/>
<codemirror [(ngModel)]="ngIfCode" [config]="codemirrorConfig">
</codemirror>
<h4>运行结果</h4>
<nz-radio-group [(ngModel)]="gender">
    <label nz-radio nzValue="男生">男生</label>
    <label nz-radio nzValue="女生">女生</label>
</nz-radio-group>
<nz-card class="card">
    <div *ngIf="gender=='男生'">我是男生</div>
    <div *ngIf="gender=='女生'">我是女生</div>
</nz-card>
<h3 id="ngFor">*ngFor</h3>
该指令用来遍历迭代器,一般用来遍历数组.在下文中,你会看到一种写法
<span class="key-word">let obj of ngForData</span>,这是在遍历
<span class="key-word">ngForData</span>数组,遍历到每个元素的时候,都会将这个元素命名为
<span class="key-word">obj</span>,这样就可以读取
<span class="key-word">obj</span>的属性了.
<span class="key-word">*ngFor</span>支持嵌套结构.
<br/> *ngFor具有以下几种模板模板变量:
<ul>
    <li>
        <span class="key-word">index: number</span>:遍历时的序号,
        <strong>下标从0开始</strong>
    </li>
    <li>
        <span class="key-word">first: boolean</span>:若为第一个元素则返回true,否则返回false
    </li>
    <li>
        <span class="key-word">last: boolean</span>:若为最后一个元素则返回true,否则返回false
    </li>
    <li>
        <span class="key-word">even: boolean</span>:若为偶数元素则返回true,否则返回false
    </li>
    <li>
        <span class="key-word">odd: boolean</span>:若为奇数元素则返回true,否则返回false
    </li>
</ul>
<h4>示例</h4>
根据定义好的数组对象遍历数据,观察数据与视图的对应关系.
<br/>
<nz-tabset>
    <nz-tab nzTitle="html">
        <codemirror [(ngModel)]="ngForCodeHtml" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
    <nz-tab nzTitle="typescript">
        <codemirror [(ngModel)]="ngForCodeTs" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
</nz-tabset>
<h4>运行结果</h4>
<nz-card class="card">
    <nz-table #ngForTable [nzData]="ngForData" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>籍贯</th>
                <th>第一条记录</th>
                <th>最后条记录</th>
                <th>偶数记录</th>
                <th>奇数记录</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of ngForTable.data;
                let index = index;
                let first = first;
                let last = last;
                let even = even;
                let odd = odd;">
                <td>{{index}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.hometown}}</td>
                <td [ngClass]="{'high-light-true':first,'high-light-false':!first}">{{first}}</td>
                <td [ngClass]="{'high-light-true':last,'high-light-false':!last}">{{last}}</td>
                <td [ngClass]="{'high-light-true':even,'high-light-false':!even}">{{even}}</td>
                <td [ngClass]="{'high-light-true':odd,'high-light-false':!odd}">{{odd}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<h4>trackBy</h4>
Angular默认是以对象为标记的,一旦你更新数据源,Angular便更新视图.更新时,先移除全部DOM结点,再依次添加DOM结点.DOM的操作非常消耗性能,因此,
<span class="key-word">*ngFor</span>提供
<span class="key-word">trackBy</span>来帮助用户自定义追踪函数算法.
<h4>示例</h4>
设定数据源是一个数组对象,包含的是城市名称与城市代码,当点击获取数据按钮时,更新数据源,
<strong>更新前后的数据源只有湖州市的代码与名称更改为金华市的代码与名称,其余数据不变.</strong>因此,我们要实现的是,当城市代码改变时,才修改DOM结点.
<div class="comment">
    说的通俗易懂一些,就是使用trackBy让Angular知道,用户是如何判断数据到底有没有发生变更的,所以我需要指定一个值作为依据,类似数据库的主键的概念,也就是说,当用户设定标识为某个值时,只有当那个值变更了,Angular才认为是真的变更了.
</div>在
<strong>运行结果</strong>中展示了使用
<span class="key-word">trackBy</span>与不使用
<span class="key-word">trackBy</span>时,更新数据源所引起的DOM操作的区别,你可以打开控制台自行验证这点.
<nz-tabset>
    <nz-tab nzTitle="html">
        <codemirror [(ngModel)]="trackByCodeHtml" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
    <nz-tab nzTitle="typescript">
        <codemirror [(ngModel)]="trackByCodeTs" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
</nz-tabset>
<h4>运行结果</h4>
<nz-tabset>
    <nz-tab nzTitle="未使用trackBy">
        <div nz-row>
            <div nz-col class="gutter-row" nzSpan="4">
                <ul>
                    <li *ngFor="let obj of citiesForNoTrack;">
                        {{obj.name}}
                    </li>
                </ul>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <button (click)="updateCitiesForNoTrack()" nz-button>获取数据</button>
                <button (click)="resetCitiesForNoTrack()" nz-button>还原数据</button>
            </div>
            <div nz-col class="gutter-row" nzSpan="16">
                <img src="../../../../assets/img/angular/directive/noTrackBy.gif">
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="使用trackBy">
        <div nz-row>
            <div nz-col class="gutter-row" nzSpan="4">
                <ul>
                    <li *ngFor="let obj of citiesForTrack;trackBy: trackByCityCode;">
                        {{obj.name}}
                    </li>
                </ul>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <button (click)="updateCitiesForTrack()" nz-button>获取数据</button>
                <button (click)="resetCitiesForTrack()" nz-button>还原数据</button>
            </div>
            <div nz-col class="gutter-row" nzSpan="16">
                <img src="../../../../assets/img/angular/directive/trackBy.gif">
            </div>
        </div>
    </nz-tab>
</nz-tabset>

<h3 id="custom-structural-directive">自定义结构型指令</h3>
Angular允许用户自定义指令来满足更复杂的业务场景,自定义指令创建的步骤如下
<ul>
    <li>导入并添加
        <span class="key-word">Directive</span>装饰器</li>
    <li>导入
        <span class="key-word">Input</span>,
        <span class="key-word">TemplateRef</span>,
        <span class="key-word">ViewContainerRef</span>
    </li>
    <li>设置选择器,以便Angular解析指令</li>
    <li>在AppModule的
        <span class="key-word">declarations</span> 中声明
    </li>
</ul>
<div class="comment">
    由于指令涉及DOM操作,对于DOM操作部分在此不再赘述,可自行前往其他章节查看.
</div>
<h4>示例</h4>
由于我本人比较爱喝奶茶,这里以奶茶为主题,个人喜爱的口味分别为抹茶、红豆、奥利奥(按喜爱程度排序).
<br/>假设你要请我喝奶茶,你可以选择奶茶的类型,如果是奥利奥奶茶,我选择喝一杯.如果是红豆奶茶,我选择喝两杯.如果是抹茶奶茶,我选择喝三杯.
<nz-tabset>
    <nz-tab nzTitle="html">
        <codemirror [(ngModel)]="directiveCodeHtml" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
    <nz-tab nzTitle="typescript">
        <codemirror [(ngModel)]="directiveCodeTs" [config]="codemirrorConfig">
        </codemirror>
    </nz-tab>
</nz-tabset>
<h4>运行结果</h4>
<nz-radio-group [(ngModel)]="milkTeaType">
    <label nz-radio nzValue="oreo">请Eve喝奥利奥奶茶</label>
    <label nz-radio nzValue="redBean">请Eve喝红豆奶茶</label>
    <label nz-radio nzValue="matcha">请Eve喝抹茶奶茶</label>
</nz-radio-group>
<nz-card class="card">
    <p *nssMilkTeaType="milkTeaType">
        来一杯奶茶
    </p>
</nz-card>