<div class="tutorial">
    <h2 id="default-code-analyze">默认代码分析</h2>
    观察之前新建的项目,在
    <span class="key-word">app.component.ts</span>中可以看到如下代码
    <ul>
        <li>
            <span class="key-word">selector</span>指明其CSS选择器
        </li>
        <li>
            <span class="key-word">templateUrl</span>指明其使用哪个模板文件
        </li>
        <li>
            <span class="key-word">styleUrls</span>指明使用哪些CSS样式表
        </li>
    </ul>
    <code-mirror [code]="templateUrlCode">
    </code-mirror>
    我们知道,传统页面都是html+css+js组成的,那么我们回忆下,是谁将这三者结合在一起的?没错,是html.使用
    <span class="key-word">link</span>和
    <span class="key-word">script</span>标签引入样式表和脚本文件.所以,在传统页面中,
    <span class="key-word">html</span>是核心.而在Angular中,
    <span class="key-word">typescript</span>是核心,他将决定使用哪些样式表和哪个模板文件.
    <br/> 注意看,只有
    <span class="key-word">styleUrls</span>是数组的形式,这意味着,他是允许使用多个样式的.
    <br/>
    <span class="key-word">selector</span>是一个选择器,其实就是给现在这个页面做个标记,方便在其他页面引用.
    <div class="info">
        一开始可能大家很难理解
        <span class="key-word">selector</span>的作用,我给大家打个比方,大家看过火影忍者吗?四代火影的
        <a href="https://www.bilibili.com/video/av25055294?from=search&seid=396052408961630512" target="view_window">飞雷神</a> 需要先扔一个苦无作为标记,然后才能将自身传送至苦无所在的地方.这个
        <span class="key-word">selector</span>就是苦无的作用,他先指明自身的代号,在需要引入的地方插入这个标签即可引用页面内容.或者说,类似于html的
        <span class="key-word">iframe</span>标签.
    </div>
    <span class="key-word">templateUrl</span>,虽然模板文件只有一个,但并不一定要通过这个关键字声明.也可以使用
    <span class="key-word">template</span>来声明.二者的区别相信大家一眼就看出来,前者是指定了某一个html文件作为模板,后者是直接将html代码写在ts当中.两种方式随你喜欢,不影响使用.
    <code-mirror [code]="templateCode"></code-mirror>
    <h2 id="interpolation">插值表达式</h2>
    思考一个问题,在传统开发中,JS定义了一个用户名,如何放在html当中合适的位置呢?查看如下所示代码,是否与你想的一样?
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="insertCodeHtml">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="javascript">
            <code-mirror [code]="insertCodeJs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    在Angular当中,不需要这么复杂,只需如下代码即可成功显示变量
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="insertCodeHtmlInNg">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="typescript">
            <code-mirror [code]="insertCodeTs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    <div class="info">
        这里需要大家记住一句话:
        <br/> JQ是
        <strong>事件驱动</strong>,Angular是
        <strong>数据驱动</strong>.
        <br/> 如果暂时无法理解也没有关系,请务必记住这句话!
    </div>
    <h3>运行结果</h3>
    <nz-card class="card">
        <div id="user-name">
            {{userName}}
        </div>
    </nz-card>
    是不是感觉很方便?这个叫
    <span class="key-word">插值表达式</span>,即用双花括号即可引用TS中的变量,对象,数组内容等,如下所示
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="showDataCodeHtml">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="typescript">
            <code-mirror [code]="showDataCodeTs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    <div class="info">
        其实在Angular当中,任何能够引用typescript成员变量的地方,都能够引用
        <strong>字符串</strong>、
        <strong>对象</strong>、
        <strong>数组</strong>的值.
    </div>
    <h3>运行结果</h3>
    <nz-card class="card">
        <p>{{byString}}</p>
        <p>{{byObject.centence}}</p>
        <p>{{byArray[0]}}</p>
    </nz-card>
    插值表达式不仅能够用在纯文本的地方,还能用在属性上.
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="classCodeHtml">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="css">
            <code-mirror [code]="classCodeCss">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="typescript">
            <code-mirror [code]="classCodeTs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    <div class="info">
        注意,插值表达式可以用在
        <strong>属性值</strong>上,但不能用在
        <strong>属性名</strong>上,即只能用在等号的右侧,不能用在等号的左侧.
    </div>
    <h3>运行结果</h3>
    <nz-card class="card">
        <div class="{{className}}">
            <p>犬夜叉是真爱!</p>
            <p>没有之一!</p>
        </div>
    </nz-card>
    <h2 id="bind">绑定机制</h2>
    Angular最大的亮点就是他的绑定机制,一共有三种
    <ul>
        <li>属性 - 从数据源到视图(单向)</li>
        <li>事件 - 从视图到数据源(单向)</li>
        <li>表单值 - 从视图到数据源再到视图(双向)</li>
    </ul>
    视图,就是我们看到的样子,其实就是指HTML.
    <br/> 数据源,是指typescript中的值,无论他是定义好的值还是来自服务器的值,都是数据源.
    <br/>
    <h3>示例</h3>
    观察以下代码和运行结果,尝试理解Angular的绑定机制.
    <br/> 在看这些案例之前,需要先科普一个知识点叫做绑定点击事件
    <span class="key-word">(click)="function()"</span>,在传统开发中,如果想要绑定点击事件,需要使用JS先查找DOM元素再添加监听事件,而在Angular中,不需要做这些事情,只需要在需要绑定的元素上使用
    <span class="key-word">(click)</span>即可,
    <span class="key-word">function()</span>是触发点击事件时调用的函数.
    <div class="info">
        再次强调:
        <br/> JQ是
        <strong>事件驱动</strong>,Angular是
        <strong>数据驱动</strong>.
        <br/>
    </div>
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="bindCodeHtml">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="typescript">
            <code-mirror [code]="bindCodeTs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    <h4>案例1</h4>
    点击按钮,就会弹出带有
    <span class="key-word">#age</span>标记的值,
    <span class="key-word">#age</span>标记了
    <span class="key-word">input</span>的DOM元素,这个用法在传统开发中是没有的,其实他的作用,和
    <a href="https://www.bilibili.com/video/av25055294?from=search&seid=396052408961630512" target="view_window">飞雷神</a> 差不多...原谅我又想到了这个比喻,因为他们真的很像,就是起到标记的目的.这个在官方翻译中是
    <span class="key-word">模板引用变量</span>,其实看字面意思也知道,引用嘛,那不就是标记的意思嘛.因此,他传递的值是
    <span class="key-word">age.value</span>,就把输入框的值传给了ts.
    <span class="key-word">messageService</span>与Angular无关,是
    <span class="key-word">antd-design</span>的一个全局通知服务,你不用了解,你可以使用
    <span class="key-word">console</span>进行实验.
    <h4>案例2</h4>
    这里没有使用输入框,而是在函数中直接传入了一个字符串,注意,当传固定的值时,需要使用单引号将起包围.可以看到,在触发函数的时候,他是将字符串传递给了数据源,属于从视图向数据源传值,所以是单向绑定.
    <h4>案例3</h4>
    在渲染模版时,
    <span class="key-word">className</span>来自数据源的变量,属于从数据源到视图的传值,所以是单向绑定.
    <h4>案例4</h4>
    <span class="key-word">ngModel</span>会将数据源中的centence的值与input的值进行绑定,并且是双向绑定.即无论哪方修改了值,另外一方马上也会修改值.注意,如果使用
    <span class="key-word">ngModel</span>则必须声明
    <span class="key-word">name</span>属性.当点击按钮时,调用
    <span class="key-word">showMsg(centence)</span>方法,而
    <span class="key-word">centence</span>的值是来自数据源的值,和上面input的
    <span class="key-word">ngModel</span>没有直接关系.所以这里在这个案例中,既有双向绑定又有单向绑定.
    <h4>数据流图</h4>
    附上一副hin凌乱的数据流向图...大概能看的懂吧...
    <img src="../../../../assets/img/dataFlow.png">
    <h4>总结</h4>
    思考这样一个问题,案例1和案例4都是输入一个值,然后显示,二者有何区别?
    <br/> 效果虽然一样,但是思路是不一样的,案例1用的是模版引用变量,案例4用的是单双向绑定结合.
    <br/> 判断单双向绑定:
    <br/> 出现
    <span class="key-word">[ ]</span>,说明是从数据源到视图的单向绑定.
    <br/> 出现
    <span class="key-word">( )</span>,说明是从视图到数据源的单向绑定.
    <br/> 出现
    <span class="key-word">([ ])</span>,说明是双向绑定,再次强调,一旦使用
    <span class="key-word">ngModel</span>必须指明
    <span class="key-word">name</span>属性.
    <br/>

    <h3>运行结果</h3>
    <nz-card class="card bind">
        <div>
            <p>案例1:使用模版引用变量(脱离数据源)</p>
            <input style="width:125px;" nz-input #age placeholder="请输入你的年纪">
            <button (click)="showMsg(age.value)" nz-button nzType="primary">弹出模板引用变量的内容</button>
        </div>
        <div>
            <p>案例2:使用固定字符串(从视图到数据源的单向)</p>
            <button (click)="showMsg('事到如今,终于明白我命里没你')" nz-button nzType="primary">弹出默认的内容</button>
        </div>
        <div>
            <p>案例3:使用固定字符串(从数据源到视图的单向)</p>
            <span [ngClass]="className">
                <!-- 这里的ngClass等同于 class="{{className}}" -->
                哪有什么故事,有的只是独角戏.
            </span>
        </div>
        <div>
            <p>案例4:既有单向绑定又有双向绑定</p>
            <input style="width:125px;" nz-input [(ngModel)]="centence" name="centence">
            <button (click)="showMsg(centence)" nz-button nzType="primary">弹出双向绑定的内容</button>
        </div>
    </nz-card>
    <h2 id="safe-nav-op">安全导航操作符</h2>
    很多时候,我们的数据是从后台读取的.而后端的数据有可能会缺失某个字段,比如说有一个User实体,我们如果使用插值表达式等方式读取数据源的user.name不会有问题,因为每个人都有名字,但是如果访问user.lover,显然并不是每个人都有心爱之人(随便打的比方,不用太在意这个字段含义),就会出现有时候Angular报错,因为Angular检测到有时根本没有lover字段.
    <br/> 为了方便起见,Angular提供了安全导航操作符,只需要在需要引用的变量前加一个
    <span class="key-word">?</span>即可避免这个问题.
    <h3>示例</h3>
    我作为一个单身狗(为了写教程,下血本了),我是没有的lover的(┬＿┬).所以,当在模板中引用我的lover字段时是会报错的,然而你能看到信息都能正常显示,只是没有lover信息(这是合理的,因为没有定义这个字段).
    <nz-tabset>
        <nz-tab nzTitle="html">
            <code-mirror [code]="safeCodeHtml">
            </code-mirror>
        </nz-tab>
        <nz-tab nzTitle="typescript">
            <code-mirror [code]="safeCodeTs">
            </code-mirror>
        </nz-tab>
    </nz-tabset>
    <h3>运行结果</h3>
    <nz-card class="card">
        My name is {{user.name}} and I was born in {{user.bornYear}},my lover is {{user?.lover}}
    </nz-card>
</div>
<nz-anchor class="anchor">
    <nz-link nzHref="#default-code-analyze" nzTitle="默认代码分析"></nz-link>
    <nz-link nzHref="#interpolation" nzTitle="插值表达式"></nz-link>
    <nz-link nzHref="#bind" nzTitle="绑定机制"></nz-link>
    <nz-link nzHref="#safe-nav-op" nzTitle="安全导航操作符"></nz-link>
</nz-anchor>