<div class="tutorial">
    <h2 id="resume">概述</h2>
    管道,又是一个典型的顾名思义的案例.思考一下,在现实生活中,管道是什么意思?比如水管,在居民家中放出的是自来水,而在管道的另一端,也就是水厂,源头可能是山水或者海水等(我不清楚真正的源头,就那个意思,反正不能直接喝的水),管道将二者连了起来并且做了净化处理.
    <br/> Angular当中的管道概念与此相类似,组件提供一个数据,管道进行处理后返回,典型的应用是时间格式化.我们知道,如果你直接获取系统时间并且打印,大概是这个样子
    <div class="pattern">
        Sun Jul 29 2018 13:18:21 GMT+0800
    </div>
    而我们在网站中一般格式化后是这个样子
    <div class="pattern">
        2018-07-29
    </div>
    可能有开发者会想,我完全可以在取得时间时在组件TS中进行格式化,干嘛要用管道?
    <br/> 作为开发者,在开发的过程中,不只要实现功能,而且要懂得创造可维护的代码.
    <br/> 如本章末尾的自定义管道,业务逻辑代码一共25行,如果你有20个组件用到了这个功能,那就是20*25行代码,而你使用管道,它始终是25代码.
    <br/> 其次,如果你之后发现这个业务逻辑不适合了,需要改动,那你也只需要改这25行代码足够了,反之,你需要将这20个组件里的代码全部改一次,十分麻烦.所以,我个人在开发中有一种结论
    <div class="info">
        实现一个功能有很多种方法,但是每个方法都有自己的适用场景与利弊,需要按需抉择.
    </div>
    <h2 id="DatePipe">DatePipe</h2>
    管道的格式如下
    <code-mirror [code]="code1"></code-mirror>
    通过格式我们可以看到,在使用模板引用的时候 通过 <span class="key-word">|</span> 将值与管道分离,管道后面的参数通过 <span class="key-word">:</span>进行表示,以这个管道格式为例,意思是:将 <span class="key-word">value_expression</span>的值流入 <span class="key-word">pipeName</span>,并且参数为 <span class="key-word">agr1</span>、<span class="key-word">agr2</span>. <br/>
    Angular内置了许多的管道,我们以
    <span class="key-word">DatePipe</span>为例,现在我们尝试使用时间管道和不使用时间管道,观察其结果.
    <nz-tabset>
        <nz-tab nzTitle="使用DatePipe">
            <code-mirror [code]="code6"></code-mirror>
        </nz-tab>
        <nz-tab nzTitle="不使用DatePipe">
            <code-mirror [code]="code7"></code-mirror>
        </nz-tab>
    </nz-tabset>
    <h3>运行结果</h3>
    <nz-card class="card date-pipe">
        <div nz-row>
            <div nz-col class="gutter-row" nzSpan="12">
                <h2>不使用日期管道</h2>
                {{date}}
            </div>
            <div nz-col class="gutter-row" nzSpan="12">
                <h2>使用日期管道</h2>
                {{date | date:"yyyy-MM-dd"}}
            </div>
        </div>
    </nz-card>
    <h2 id="custom-pipe">自定义管道</h2>
    在这个部分,我们将编写一个
    <a href="https://baike.baidu.com/item/BMI%E6%8C%87%E6%95%B0/4477882?fr=aladdin" target="view_window">BMI</a> 计算系统.
    <div class="info">
        需求不难的,就是输入身高体重然后按公式计算BMI值而已,公式为:体重(kg)/身高*身高(m).
    </div>
    整个流程如下:
    <ul>
        <li>创建管道文件,使用
            <span class="key-word">Pipe</span>装饰器,
            <span class="key-word">name</span>为选择器名字
        </li>
        <li>
            实现
            <span class="key-word">PipeTransform</span>接口,调用管道时,直接进入
            <span class="key-word">transform</span> 这个方法.这个方法允许有多个参数,第一个参数为传过来的值,第二个参数及以上,都是管道的参数,可以任意指定
        </li>
        <li>
            在
            <span class="key-word">transform</span>内编写业务逻辑,返回的内容最终会显示在视图上
        </li>
    </ul>
    <nz-tabset>
        <nz-tab nzTitle="应用管道的html">
            <code-mirror [code]="code2"></code-mirror>
        </nz-tab>
        <nz-tab nzTitle="应用管道的ts">
            <code-mirror [code]="code3"></code-mirror>
        </nz-tab>
        <nz-tab nzTitle="管道的ts">
            <code-mirror [code]="code4"></code-mirror>
        </nz-tab>
    </nz-tabset>
    <h3>运行结果</h3>
    <nz-card class="card shape-calculate">
        <input nz-input [(ngModel)]="tall" name="tall" placeholder="请输入你的身高">
        <nz-radio-group [(ngModel)]="tallUnit">
            <label nz-radio nzValue="cm">厘米</label>
            <label nz-radio nzValue="m">米</label>
        </nz-radio-group>
        <input nz-input [(ngModel)]="weight" name="weight" placeholder="请输入你的体重">
        <nz-radio-group [(ngModel)]="weightUnit">
            <label nz-radio nzValue="kg">千克</label>
            <label nz-radio nzValue="jin">斤</label>
        </nz-radio-group>
        <br/> {{data | shape:tallUnit:weightUnit}}
    </nz-card>
    管道允许链式调用,就像这样子
    <code-mirror [code]="code5"></code-mirror>
    Angular提供了不止
    <span class="key-word">DatePipe</span> 一种,更多的管道类型请前往
    <a href="https://angular.cn/api?type=pipe" target="view_window">官方文档</a>查看,在此不一一距离了.
</div>
<nz-anchor class="anchor">
    <nz-link nzHref="#resume" nzTitle="概述"></nz-link>
    <nz-link nzHref="#DatePipe" nzTitle="DatePipe"></nz-link>
    <nz-link nzHref="#custom-pipe" nzTitle="自定义管道"></nz-link>
</nz-anchor>