<br/>
<br/>
<br/>
<h1 class="center">Eve</h1>
<p class="center">男生,浙江温州人,出生于1995年,目前大四(2019年6月毕业),目标工作地为杭州</p>
<p class="center">2017年5月在公司实习时接触Angular2,当时只会用JQ抓DOM,对于模块化,NPM,组件,服务,路由等名词闻所未闻,更是不知其意</p>
<p class="center">之后依样画葫芦,逐渐知道了其用法,再逐渐理解了Angular的思想</p>
<p class="center">我相信,有无数新人都是这样过来的,所以非常理解初涉现代前端工程的新手,不知从何学起,甚至是迷茫</p>
<p class="center">因此,推出NSS(本项目的代号),希望能够帮助新人少走弯路,也为了总结这一路走来的足迹,做一个学习总结</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="center">
    邮箱:eve-1995@qq.com&nbsp;&nbsp;&nbsp;&nbsp;github:
    <a href="https://github.com/Eve-1995/ng-series-study" target="view_window">ng-series-study</a>
</p>