<br/>
<br/>
<br/>
<h1 class="center">
    <ruby>
        茶<rp>(</rp><rt>chá</rt><rp>)</rp>
        荼<rp>(</rp><rt>tú</rt><rp>)</rp>
        先<rp>(</rp><rt>xiān</rt><rp>)</rp>
        生<rp>(</rp><rt>shēng</rt><rp>)</rp>
    </ruby>
</h1>
<p class="center">浙江人,生于1995年,目前大四(2019年6月毕业),目标工作地为杭州</p>
<p class="center">爱好美剧,喜欢听歌,喜欢美式口语.比较宅,轻微文字控</p>
<p class="center">2017年实习时接触Angular2,只知道HTML,CSS,JS,JQ的我,对于模块化,NPM,Webpack,RxJS等黑科技闻所未闻</p>
<p class="center">之后依样画葫芦,逐渐熟悉了其用法,再逐渐理解了Angular的思想,最终被其"all in one"的目标所吸引</p>
<p class="center">我相信,有很多初涉现代前端工程的开发者,不知从何学起,甚至是迷茫</p>
<p class="center">我的一位老师曾说,能而为师.而且我个人也比较喜欢讲师一类的工作,比较喜欢talking</p>
<p class="center">因此,开发了NSS(本项目的代号),希望能够帮助开发者少走弯路,以ng为线索,全面地学习现代前端工程</p>
<br/>
<br/>
<p class="center">
    邮箱:eve-1995@qq.com&nbsp;&nbsp;&nbsp;&nbsp;github:
    <a href="https://github.com/Eve-1995/ng-series-study" target="view_window">ng-series-study</a>
</p>