<div class="tutorial">
    <h2 id="directive-introduction">指令简述</h2>
    在Angular中,一共有三种类型的指令:
    <ul>
        <li>组件 - 拥有模板的指令</li>
        <li>结构型指令 - 通过添加和移除 DOM 元素改变 DOM 布局的指令</li>
        <li>属性型指令 - 改变元素、组件或其它指令的外观和行为的指令</li>
    </ul>
    指令,在使用上看起来就是个DOM元素的特性(property),实际上Angular就是通过特性的方式来获取数据,然后根据数据对DOM元素进行操作.
    <div class="info">
        这里需要知道
        <span class="key-word">attribute</span>和
        <span class="key-word">property</span>的区别.在中文中一般二者都翻译为属性,其实是很容易混淆的.在Angular中,绝大部分都是用的property.在本系列中,用'特性'一词来形容.
    </div>
    结构型指令以
    <span class="key-word">*</span>开头,如
    <span class="key-word">*ngIf</span>,
    <span class="key-word">*ngFor</span>,否则为属性型指令,如
    <span class="key-word">ngClass</span>,
    <span class="key-word">ngStyle</span>等.
    <structural-directive></structural-directive>
    <attribute-directive></attribute-directive>
</div>
<nz-anchor class="anchor">
    <nz-link nzHref="#directive-introduction" nzTitle="指令类别"></nz-link>
    <nz-link nzHref="#structural-directive" nzTitle="结构型指令">
        <nz-link nzHref="#ngIf" nzTitle="ngIf"></nz-link>
        <nz-link nzHref="#ngFor" nzTitle="ngFor"></nz-link>
        <nz-link nzHref="#custom-structural-directive" nzTitle="自定义结构型指令"></nz-link>
    </nz-link>
    <nz-link nzHref="#attribute-directive" nzTitle="属性型指令">
        <nz-link nzHref="#ngClass" nzTitle="ngClass"></nz-link>
        <nz-link nzHref="#ngStyle" nzTitle="ngStyle"></nz-link>
        <nz-link nzHref="#ngSwitch" nzTitle="ngSwitch"></nz-link>
        <nz-link nzHref="#custom-attribute-directive" nzTitle="自定义属性型指令"></nz-link>
    </nz-link>
</nz-anchor>