<div class="menu">
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
    <div class="menu-title">
      Angular系列学习
    </div>
    <li nz-menu-item routerLink="/project/introduction">
      <span title>
        <span>教程概述</span>
      </span>
    </li>
    <li nz-submenu>
      <span title>
        <span>Angular</span>
      </span>
      <ul>
        <li nz-menu-item routerLink="/angular/create">创建项目</li>
        <li nz-menu-item routerLink="/angular/conventional-usage">常规用法</li>
        <li nz-submenu>
          <span title>指令</span>
          <ul>
            <li nz-menu-item routerLink="/angular/structural-directive">结构型指令</li>
            <li nz-menu-item routerLink="/angular/attribute-directive">属性型指令</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>组件</span>
          <ul>
            <li nz-menu-item routerLink="/angular/component-communication">组件交互</li>
            <li nz-menu-item routerLink="/angular/component-styles">组件样式</li>
            <li nz-menu-item routerLink="/angular/dynamic-component">动态组件</li>
          </ul>
        </li>
        <li nz-menu-item routerLink="/angular/pipe">管道</li>
      </ul>
    </li>
    <li nz-menu-item routerLink="/project/author">
      <span title>
        <span>关于作者</span>
      </span>
    </li>
  </ul>
</div>